/*
* {
    border: 1px solid red;
}
*/


/*style for hidden overlay*/

.overlay,
.correct,
.incorrect {
    width: 50%;
    height: 50%;
    color: #fff;
    background: #e74c3c;
    position: absolute;
    border-radius: 5px;
    top: 25%;
    left: 25%;
    margin: 0;
    z-index: 1000;
    display: none;
    text-align: center;
    vertical-align: middle;
}

.top {
    color: RED;
}

p {
    line-height: 1.5;
}

li {
    padding: 5px;
}

.score {
    color: orangered;
}

.hiscore {
    width: 75%;
    height: 75%;
    color: #00FF33;
    background: #000000;
    position: absolute;
    border-radius: 5px;
    top: 12.5%;
    left: 12.5%;
    margin: 0;
    z-index: 1000;
    display: none;
    border: 5px solid red;
    border-radius: 5px;
    text-align: center;
}

html {
    font-family: 'Press Start 2P', cursive;
}

body {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: content-box;
}

h1 {
    color: white;
}

.submit {
    font-size: 24px;
    font-family: 'Press Start 2P', cursive;
    color: red;
    background: none;
    border: none;
}

.myimg {
    width: 200px;
    height: auto;
}

h2 {
    color: white;
}

.invaders {
    width: 200px;
    height: 100px;
    align-content: center;
}

.questiontext,
.instructions {
    color: white;
}

.radio {
    width: 20px;
    height: 20px;
}

.container {
    margin: auto;
    width: 90%;
    height: 800px;
}

.play {
    text-decoration: none;
}

.quiz_header {
    width: 100%;
    text-align: center;
}

.quizrow {
    margin: auto;
    width: 95%;
    padding: 15px;
}

.audio {
    clear: right:
}

.nav {
    width: 100%;
    text-align: center;
    margin: 25px;
    vertical-align: center;
}

.left_score {
    display: inline-block;
    width: 15%;
    margin-left: 25px;
    font-size: 18px;
}

.middle_score {
    display: inline-block;
    width: 50%;
    margin: 10px;
    color: white;
}

.right_score {
    display: inline-block;
    width: 15%;
    margin-right: 25px;
    font-size: 18px;
}

.wrong {
    color: red;
}

.right {
    color: lawngreen;
}

.checkbox {
    display: inline-block;
    width: 5%;
}

.answer {
    display: inline-block;
    width: 40%;
    color: white;
}

#guess {
    color: orange;
    font-size: 48px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.submitrow {
    text-align: center;
}
