/*
* {
    border: 1px solid red;
}
*/

html {
    font-family: 'Press Start 2P', cursive;
}

body {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: content-box;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

.container {
    margin: auto;
    width: 90%;
    height: 800px;
}

.quiz_header {
    width: 100%;
    text-align: center;
}

.quizrow {
    margin: auto;
    width: 95%;
    padding: 15px;
}

.audio {
    clear: right:
}

.nav {
    width: 100%;
    text-align: center;
    margin: 25px;
    vertical-align: center;
}

.left_score {
    display: inline-block;
    width: 15%;
    margin-left: 25px;
    font-size: 18px;
}

.middle_score {
    display: inline-block;
    width: 50%;
    margin: 10px;
    color: white;
}

.right_score {
    display: inline-block;
    width: 15%;
    margin-right: 25px;
    font-size: 18px;
}

.wrong {
    color: red;
}

.right {
    color: lawngreen;
}

.checkbox {
    display: inline-block;
    width: 5%;
}

.answer {
    display: inline-block;
    width: 40%;
    color: white;
}

#guess {
    color: orange;
    font-size: 48px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.submitrow {
    text-align: center;
}
